{% set git = salt['grains.filter_by']({
    'Arch': {
        'git': 'git',
    },
    'RedHat': {
        'git': 'git',
    },
    'Debian': {
        'git': 'git',
    },
    'Solaris': {
        'git': 'git',
    },
    'Gentoo': {
        'git': 'dev-vcs/git',
    },
    'Suse': {
        'git': 'git-core',
    },
}, merge=salt['pillar.get']('git:lookup')) %}
